body{
	margin:0;
}

body-sizing: border-box;
}
.menu a{

	text-decoration: none;
	color: black;
}
.navbar{
	display: flex;
	justify-content: center;
	align-items: center;
	width: inherit;
	height: 10vh;
	border: 1px solid transparent;
	box-shadow: 0px 2px 20px 0px grey;
	padding: 5px;
}
.logo{
	width: 20%;
	padding-left: 2%;
}
.menu{
	height: 5vh;
	width: 100%;
	padding-left:5%;
	align-items: center;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns:  20% 20% 20% 20% 20%;
    background-color: grey;
}
.search{
	width: 30%;
	padding-right: 5%;
	text-align: right;
}
.search input{
	width: 70%;
}
.search button{
	width:40%;
}
.header-image{
  height: 50vh;
  width: 100%;
}
.image{
  position: absolute;
  background-image: url(img/history2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: inherit;
  height: inherit;
}
.image-overlay{
  width: inherit;
  height: inherit;
  position:absolute;
  background-color:black;
  opacity: 0.6;
}
.text{
  position: absolute;
  padding-right: 5%;
  color:white;
  font-family: sans-serif;
}
.row{
  display: flex;
  background-color: brown;
}
.column{
  flex: 50%
}
.column{
  float: left;
  width: 20%;
  padding: 5%;
}
.row2{
 display:flex;
 background-color:white;
 grid-template-columns: 25% 25% 25%;
}
.column{
  float: left;
  width: 25%;
  padding right: 5%;
}
.row3{
	display: flex;
	background-color: black;
	grid-template-columns: 50% 50%;
}
.text{
	position: absolute;
    color:white;
    font-family: sans-serif;
}
.column{
	float: right;
	width: 30;
	padding: 5%;
	justify-content: right;
}
.Subscribe{
	float: left;
	width: 50%;
	padding: 10%;
}
.Subscribe{
	width: 30%;
	padding-right: 5%;
	text-align: left;
}
.Subscribe input{
	width: 70%;
}
.Subscribe button{
	width:40%;
	background-color: red;
}
.text{
	position: absolute;
    color:white;
    font-family: sans-serif;
}
